# 支持浏览器列表 -- 参考：https://github.com/browserslist/browserslist

# 快速查询 -- 终端 npx browserslist

# 下面的几行都是取交集，作用等同于(or/, 组合器)
# 使用率大于 1%
> 1%
# 最后两个版本
last 2 versions
# 从之前的查询中排除 24 个月没有官方支持或更新的浏览器。
not dead
